<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#" routerLink="/home/dashboard">Início</a></li>
      <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
  </nav>

<div class="d-flex">
    <div>
        <div class="smallsize">OLÁ USUÁRIO, </div>
        <h4>SEJA BEM VINDO!</h4>
    </div>
</div>
<div class="jumbo-travel mb-4">
    <div class="row justify-content-end">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    Últimos Pedidos
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Pedido</th>
                                    <th>Data</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Hamburguer Artesanal</td>
                                    <td>22/02/2020</td>
                                    <td>R$ 45,00</td>
                                </tr>
                                <tr>
                                    <td>Hamburguer Artesanal</td>
                                    <td>22/02/2020</td>
                                    <td>R$ 45,00</td>
                                </tr>
                                <tr>
                                    <td>Hamburguer Artesanal</td>
                                    <td>22/02/2020</td>
                                    <td>R$ 45,00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-sm btn-light w-100">Carregar Mais <i class="fas fa-arrow-down"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>